/* common */
.inner {
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  padding: 30px 0;

}

/* color */
:root {
  --color-MainColor: #24292F;
  --color-SubColor: #7D87A8;
  --color-Line1: #57606A;
  --color-Line2: #FD8C73;
  --color-Text0: #FFFFFF;
}

/* badge */


/* skills */


