@charset "UTF-8";

/* color */
:root {
  --color-MainColor: #24292F;
  --color-SubColor: #7D87A8;
  --color-Line1: #57606A;
  --color-Line2: #FD8C73;
  --color-Text0: #FFFFFF;
}

.content { 
  height: 100vh;
}
/* header */
.header {
  border-bottom: 1px solid var(--color-Line1);
  height: 80px;
}
.header .menu {
  display: flex;
  margin-left: 430px;
}
.header .menu-list {
  font-size: 20px;
  line-height: 80px;
  margin-right: 30px;
  transition: .3s;
}
.header .menu-list:first-child {
  border-bottom: 2px solid var(--color-Line2);
}
.header .menu-list:last-child {
  margin-right: 0px;
}
.header .menu-list:hover {
  border-bottom: 2px solid var(--color-Line2);
}
.header .menu-list a {
  padding: 10px 10px 10px 3px;
}
.header .menu-list img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  filter: invert(100%);
}

/* container */
/* profile */
.container {
  display: flex;
  height: 90vh;
}
.profile-wrap {
  padding: 0 50px;
  height: 90vh;
}
.profile {
  position: relative;
  top: -20px;
  width: 330px;
  height: 90vh;
}
.profile .logo {
  position: relative;
  width: 330px;
  height: 330px;
  background: var(--color-SubColor);
  border-radius: 999px;
}
.profile .logo .mimoji {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -40%);
  transition: all .5s;
}
.profile .logo .mbti {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 80%;
  left: 80%;
  border-radius: 50px;
}
.profile .tag {
  height: 50px;
  margin-top: 30px;
}
.profile .tag p {
  line-height: 50px;
  text-align: center;
  background: var(--color-Line1);
  border-radius: 10px;
  font-size: 18px;
}
.profile .name p {
  text-align: center;
  font-size: 35px;
}
.profile .url {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid var(--color-Line1);
}
.profile .url-list:last-child {
  margin-top: 8px;
}
.profile .url-list a {
  transition: .4s;
}
.profile .url-list a:hover {
  color: var(--color-Line1);
}
/* skills */
.profile .skills p {
  font-size: 18px;
  margin: 20px 0 10px 0;
}
.profile .skill, .control {
  display: flex;
  flex-wrap: wrap;
}
.profile .skill-list, .control-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin: 0 10px 10px 0;
  height: 25px;
  font-size: 12px;
  background: var(--color-Text0);
  color: var(--color-MainColor);
  border-radius: 3px;
}
.profile .control-list img, .skill-list img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 3px;
}

/* copyright */
.profile-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
.copyright, .info  {
  color: var(--color-Line1);
  font-size: 12px;
}
/* readme */
.readme {
  width: 100%;
  padding: 50px 50px 30px 0px;
}
.readme .readme-wrap{
  border: 1px solid var(--color-Line1);
  border-radius: 20px;
  height: 100%;
}
.readme .readme-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid var(--color-Line1);
  padding: 25px 40px;
}
.readme .readme-header a {
  font-size: 13px;
  transition: .4s;
}
.readme .readme-header a:hover {
  color: var(--color-Line1);
  border-bottom: 1px solid var(--color-Line1);
}
.readme .readme-detail {
  width: 70%;
  margin: auto;
  padding: 30px 0;
}
/* move-text */
.move-text {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.8rem;
}

h1 {
  font-size: 2.2rem;
  margin-left: .6rem;
}

h1::after {
  content: '';
  margin-left: .4rem;
  border-right: 2px solid #777;
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

/* ------------ */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");


/* intro-box */

/* most-used */
.most-box {
  border: 1px solid var(--color-SubColor);
  border-radius: 20px;
  padding: 25px;
}
.most-box h3 {
  color: mediumaquamarine;
  margin-bottom: 20px;
}
.most-box .most-bar {
  display: flex;
  width: 100%;
  height: 6px;
}
.most-box .most-bar span {
  font-size: 0px;
  margin-right: 4px;
}
.most-box .most-bar span:first-child {
  width: 36%;
  height: 6px;
  background: #e34c26;
  border-radius: 5px 0 0 5px;
}
.most-box .most-bar span:nth-child(2) {
  width: 42%;
  height: 6px;
  background: #563d7c;
}
.most-box .most-bar span:nth-child(3) {
  width: 9%;
  height: 6px;
  background: #c6538c;
}
.most-box .most-bar span:nth-child(4) {
  width: 6%;
  height: 6px;
  background: #f1e05a;
}
.most-box .most-bar span:nth-child(5) {
  width: 4%;
  height: 6px;
  background: #58c1db;
}
.most-box .most-bar span:nth-child(6) {
  width: 3%;
  height: 6px;
  background: #42ba85;
  border-radius: 0 5px 5px 0;
}
.most-box ul {
  display: flex;
  flex-wrap: wrap;
}
.most-box .most-list {
  padding-top: 15px;
}
.most-list ul>li {
  font-size: 14px;
  margin-right: 20px;
}
.most-list ul>li {
  font-size: 14px;
  margin-right: 20px;
}
.most-list ul>li span {
  font-size: 10px;
  border-radius: 20px;
  background: #e34c26;
  padding: 1px 4px;
}
.most-list ul>li:nth-child(2) span {
  background: #563d7c;
}
.most-list ul>li:nth-child(3) span {
  background: #c6538c;
}
.most-list ul>li:nth-child(4) span {
  background: #f1e05a;
}
.most-list ul>li:nth-child(5) span {
  background: #58c1db;
}
.most-list ul>li:nth-child(6) span {
  background: #42ba85;
}

/* resume-button */
.readme .resume {
  text-align: center;
  margin-top: 60px;
}
.readme .resume button{
  width: 150px;
  height: 45px;
  font-size: 23px;
  border-radius: 8px;
  background: var(--color-SubColor);
  cursor: pointer;
}
.readme .resume button:active {
  transform: translateY(1px);
}
