@charset "UTF-8";

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #24292F;
  z-index: 10;
}
.header .menu-list:first-child{
  border-bottom: 0;
}
.header .menu-list:first-child:hover{
  border-bottom: 2px solid var(--color-Line2);
}
.header .menu-list:nth-child(2) {
  border-bottom: 2px solid var(--color-Line2);
}
.sub-header {
  height: 80px;
}
.sub-header .sub-menu {
  display: flex;
  margin-left: 430px;
}
.sub-header .sub-menu-list {
  line-height: 80px;
  margin-right: 50px;
}
.sub-header .sub-menu-list a {
  font-size: 15px;
  transition: .4s;
}
.sub-header .sub-menu-list a:hover {
  color: var(--color-Line1);
} 
.header .menu-list:last-child {
  margin-right: 0px;
}
.header .menu-list a {
  padding: 10px 10px 10px 3px;
}
.header .menu-list img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  filter: invert(100%);
}
/* profile */
.profile {
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index: 15;
}
/* repositories */
.repositories ul {
  height: 30vh;
}
.repositories ul {
  overflow: scroll;
  overflow-x: hidden;
}
.repositories ul::-webkit-scrollbar {
  width: 3px;
}
.repositories ul::-webkit-scrollbar-thumb {
  height: 5%;
  background: var(--color-SubColor);
  border-radius: 10px;
}
.repositories ul::-webkit-scrollbar-track {
  background: var(--color-Line1);
}
.repositories h4 {
  padding: 20px 0 10px 0;
}
.repositories img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
  background: var(--color-SubColor);
  border-radius: 50px;
  padding: 3px;
}
.repositories .repositories-list {
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  transition: .4s;
}
.repositories .repositories-list:hover {
  background: var(--color-Line1);
  border-radius: 5px;
}
.repositories .repositories-list:first-child {
  background: var(--color-Line1);
  border-radius: 5px;
}
.repositories .repositories-list a {
  display: block;
  font-size: 13px;
}
.repositories .repositories-list span {
  color: var(--color-SubColor);
}

/* project-detail */
.project-detail {
  width: 100%;
  height: 100%;
  margin: 160px 50px 30px 350px;
}
.border-wrap {
  position: relative;
}
.border {
  padding-bottom: 4%;
  margin: 0 auto;
}
.screen {
  border: 3px solid var(--color-SubColor);
  border-radius: 20px;
  /* for aspect ratio */
  position: relative;
  width: 100%;
  background: var(--color-MainBg);
}
.screen:before {
  content: "";
  display: block;
  padding-top: 60%;
}
.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4%;
}
/* Screenshot Hover Scroll Additions ------ */
.border .viewport {
  transition: background-position 20s;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
}
.border:hover .viewport {
  background-position: 0 100%;
}

/* scroll */
.scroll-downs {
  position: absolute;
  right: 50%;
  bottom: 0;
  margin: auto;
  width : 30px;
  height: 30px;
  padding-top: 10px
}
.scroll-downs .mousey {
  width: 3px;
  padding: 3px 8px;
  height: 28px;
  border: 2px solid var(--color-SubColor);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroll-downs p {
  font-size: 10px;
  text-align: center;
  margin-top: 8px;
  color: var(--color-SubColor);
}
.scroll-downs .scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--color-SubColor);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

@media (max-width: 1400px) {
  .scroll-downs {
    display: none;
  }
}