@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  background: var(--color-MainColor);
  min-width: 960px;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--color-SubColor); /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--color-Line1); /*스크롤바 뒷 배경 색상*/
}