@charset "UTF-8";

.content { 
  height: 100vh;
}
/* header */
.header {
  border-bottom: 1px solid var(--color-Line1);
  height: 80px;
}
.header .menu {
  display: flex;
  justify-content: center;
}
.header .menu-list {
  font-size: 20px;
  line-height: 80px;
  margin-right: 35px;
  transition: .3s;
}
.header .menu-list:first-child {
  border-bottom: 2px solid var(--color-Line2);
}
.header .menu-list:last-child {
  margin-right: 0px;
}
.header .menu-list:hover {
  border-bottom: 2px solid var(--color-Line2);
}
.header .menu-list a {
  padding: 10px 10px 10px 3px;
}
.header .menu-list img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* container */
/* profile */
.container {
  display: flex;
}
.profile {
  position: relative;
  top: -60px;
  width: 330px;
}
.profile .logo {
  position: relative;
  width: 330px;
  height: 330px;
  background: var(--color-SubColor);
  border-radius: 999px;
}
.profile .logo img {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -40%);
}
.profile .logo .mbti {
  width: 45px;
  height: 45px;
  top: 75%;
  left: 95%;
  border-radius: 50px;
}
.profile .tag {
  height: 50px;
  margin-top: 30px;
}
.profile .tag p {
  line-height: 50px;
  text-align: center;
  background: var(--color-Line1);
  border-radius: 10px;
  font-size: 18px;
}
.profile .name p {
  text-align: center;
  font-size: 35px;
}
.profile .url {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid var(--color-Line1);
}
.profile .url-list:last-child {
  margin-top: 8px;
}
.profile .url-list a {
  transition: .4s;
}
.profile .url-list a:hover {
  color: var(--color-Line1);
}
/* skills */
.profile .skills p {
  font-size: 18px;
  margin: 20px 0 10px 0;
}
.profile .skill, .control {
  display: flex;
  flex-wrap: wrap;
}
.profile .skill-list, .control-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin: 0 10px 10px 0;
  height: 25px;
  font-size: 12px;
  background: var(--color-Text0);
  color: var(--color-MainColor);
  border-radius: 3px;
}
.profile .control-list img, .skill-list img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 3px;
}

/* copyright */
.copyright, .info  {
  position: relative;
  left: 0;
  bottom: 0;
  color: var(--color-Line1);
  font-size: 12px;
}
/* readme */
.readme {
  border: 1px solid red;
  width: 70%;
  margin-left: auto;
}
.readme .box {
  border: 1px solid var(--color-Line1);
  border-radius: 20px;
  height: 100%;
}
.readme .box h2 {
  border: 1px solid var(--color-Line1);
  padding: 20px;
}